/* Colors:
#AC3931 - red
#E5D352 - yellow
#D9E76C - yellow light
#537D8D - blue
#482C3D - purple
*/

body {
	background: #439643;
	font-family: 'Arvo', serif;
}

.container {
	margin-top: 20px;
	width: 500px;
	background: #E5D352;
	padding: 20px;
}

#your_number {
	width: 77%;
	float: left;
}

#try_it {
	width: 20%;
	float: left;
	margin-left: 10px;
}

h1 {
	text-align: center;
	font-weight: 700;
	color: #AC3931;
}

h2, h3, h4 {
	text-align: center;
	font-weight: 400;
	color: #AC3931;
}

p {
	color: #482C3D;
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.btn {
	font-weight: 700;
}

.btn-default {
	background: white;
	border: none;
	color: #AC3931;
}

.btn-default:hover {
	background: #AC3931;
	border: none;
	color: white;
}

.lko {
	font-size: 20px;
	background: #E5D352 ;
	border: 2px solid #482C3D;
	color: black;
	width: 35px;
	text-align: center;
}

.range_line[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
.range_line[type=range]:focus {
  outline: none;
}
.range_line[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #002200;
  background: #205928;
  border-radius: 1px;
  border: 1px solid #18D501;
}
.range_line[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 3px #00AA00;
  border: 2px solid #83E584;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #439643;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.range_line[type=range]:focus::-webkit-slider-runnable-track {
  background: #205928;
}
.range_line[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #002200;
  background: #205928;
  border-radius: 1px;
  border: 1px solid #18D501;
}
.range_line[type=range]::-moz-range-thumb {
  box-shadow: 3px 3px 3px #00AA00;
  border: 2px solid #83E584;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #439643;
  cursor: pointer;
}
.range_line[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range_line[type=range]::-ms-fill-lower {
  background: #205928;
  border: 1px solid #18D501;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #002200;
}
.range_line[type=range]::-ms-fill-upper {
  background: #205928;
  border: 1px solid #18D501;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #002200;
}
.range_line[type=range]::-ms-thumb {
  box-shadow: 3px 3px 3px #00AA00;
  border: 2px solid #83E584;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #439643;
  cursor: pointer;
}
.range_line[type=range]:focus::-ms-fill-lower {
  background: #205928;
}
.range_line[type=range]:focus::-ms-fill-upper {
  background: #205928;
}

#status, #hinter {
	background: #D9E76C;
	padding: 10px;
}

#restart {
	margin-top: 10px;
}
